.game-button:disabled{
   -fx-opacity: 1.0;
   -fx-background-color: Black;
   -fx-text-fill: Blue;


}

-game-default-button{
    -fx-opacity: 1.0;
    -fx-background-color: Grey;
}

.text-field{
    -fx-min-height: 25px;
    -fx-min-width: 100px;
    -fx-font: 12px verdana;

}